body {
    font-size : 32;
    background-color: rgb(25, 46, 80);
    font-family :'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div {
    align-items: center;
    align-content: center;
    text-align: center;
}
